<div style="height: 3rem;"></div>
<section class="login-section">
    <h2>Login</h2>
    {{#if errorMessage}}
    <div class="login-error-message">
        {{errorMessage}}
    </div>
    {{/if}}
    
    <form id="loginForm" action="/login" method="POST">
        <div class="login-form-group">
            <label for="dlsuEmail">DLSU Email</label>
            <input type="email" id="dlsuEmail" name="email" placeholder="username@dlsu.edu.ph" value="{{email}}" required>
        </div>

        <div class="login-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>

        <button type="submit" class="login-btn-primary">Login</button>
    </form>

    <p class="login-sign-up-link">Don't have an account? <a href="/register">Sign Up</a></p>
</section>